<div class="bg-primary-400 m-2 items-center rounded-xl p-4">
  <fieldset class="flex w-full flex-wrap items-center justify-around gap-3">
    <legend class="mb-2 text-center font-bold">{{ placeholder }}</legend>
    @for (category of families[0] | keyvalue; track category.key) {
      @for (subcategory of category.value | keyvalue; track subcategory.key) {
        <div class="mb-6">
          <h3 class="mb-2 text-center font-bold uppercase">
            {{ subcategory.key }}
          </h3>
          <div class="flex flex-wrap justify-center gap-3">
            @for (aroma of subcategory.value; track aroma) {
              <div class="flex flex-nowrap items-center">
                <input
                  type="checkbox"
                  [checked]="aromaControl.value?.includes(aroma)"
                  (change)="toggleOptions(aroma)"
                />
                <label
                  class="pl-2"
                  >{{ aroma }}
                </label>
              </div>
            }
          </div>
        </div>
      }
    }
  </fieldset>
</div>
