<div class="bg-primary-400 m-2 items-center rounded-xl p-4">
  <fieldset
    class="flex w-full flex-wrap items-center justify-center gap-3 text-center"
  >
    <legend class="font-bold">{{ placeholder() }}</legend>
    <mat-button-toggle-group
      name="name()"
      aria-label="name()"
      [hideMultipleSelectionIndicator]="hideMultipleSelectionIndicator()"
      multiple
    >
      @for (opt of options(); track opt; let i = $index) {
        <mat-button-toggle
          [value]="opt"
          [checked]="value().includes(opt)"
          (change)="toggleOptions(opt)"
        >
          {{ opt }}
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </fieldset>
</div>
