<h2 class="text-center">What are you tasting?</h2>
<form
  [formGroup]="wineIdForm"
  method="post"
  class="w-xl"
>
  @if (isLoading()) {
    <p>Loading tasting note...</p>
  }

  @if (error()) {
    <p>{{ error() }}</p>
  }

  @for (step of steps(); track step.criterion) {
    @switch (step.input_type) {
      @case ('input') {
        <app-form-input
          [placeholder]="step.criterion"
          [name]="step.criterion"
          [parentForm]="wineIdForm"
        ></app-form-input>
      }
      @case ('radio') {
        <app-form-radio
          [name]="step.criterion"
          [placeholder]="step.criterion"
          [options]="$any(step.opts) ?? []"
        ></app-form-radio>
      }
      @case ('checkbox') {
        <app-form-checkbox
          [name]="step.criterion"
          [placeholder]="step.criterion"
          [options]="$any(step.opts) ?? []"
        ></app-form-checkbox>
      }
      @case ('aroma_selector') {
        <app-form-aroma-selector
          [name]="step.criterion"
          [placeholder]="step.criterion"
          [families]="$any(step.opts) ?? []"
        ></app-form-aroma-selector>
      }
    }
  }
</form>
<!--
  <app-form-aroma-selector
    [name]="step.criterion"
    [placeholder]="step.criterion"
    [families]="$any(step.opts) ?? []"
  ></app-form-aroma-selector>
-->
<input
  type="submit"
  value="Suivant"
  class="btn-interaction-style"
/>
