<div class="bg-primary-400 m-2 flex items-center rounded-xl p-4">
  <fieldset
    class="flex w-full flex-wrap items-center justify-around gap-3 text-center"
  >
    <legend class="font-bold">{{ placeholder() }}</legend>
    @for (opt of options(); track opt; let i = $index) {
      <div>
        <input
          type="radio"
          [name]="name()"
          [id]="name + '-' + i"
          [value]="opt"
          [(ngModel)]="value"
        />
        <label
          [for]="name + '-' + i"
          class="pl-2"
          >{{ opt }}</label
        >
      </div>
    }
  </fieldset>
</div>
